a {
    font-size: 2em;
    color: white;
}
.box-style {
    width: 300px;
    display: inline-block;
    /* primer forma de crear un margen */
    /* margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 3opx;
    margin-left: 30px; */
    /* segundas forma de crear un margen */
    /* margin: 30px 10px; */
    /* tercer forma de crear margen */
    margin: 30px;
    /* padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right: 25px; */
    padding: 15px 50px;
    text-align: justify;
    /* por defecto el valor biene en 0 el espacio entre letras */
    letter-spacing: .1em;
    /* por defecto viene en 0 el espacio entre palabras */
    word-spacing: .2em;
    /* por defecto viene en 1.2em el espacio entre renglones */
    line-height: 2em;


}
.box-1 {
     /* grosor del borde, tipo de borde y color de borde */
    border: 2px solid darkcyan ;
}
.box-2 {
    border: 3px dotted aqua;  
}
.box-3 {
    
    border: 5px dashed blue;
}
.box-4 {
  border: 2px outset yellowgreen;
}
.box-5 {
    border: 2px double salmon;
}
p {
    font-size: 1.5em;
    color: rgb(48, 48, 48);
}
